*{margin: 0; padding: 0; background-color: rgb(213, 232, 233); font-family: Verdana, Geneva, Tahoma, sans-serif}

.titulo h1{
    margin-top: 6vh;
    font-size: 1.8em;
    text-align: center;
}
.titulo h2{
    margin-top: 1vh;
    font-size: 1.1em;
    color: grey;
    margin-bottom: 1vh;
    text-align: center;
}
input{
    width: 40vw;
    height: 6vh;
    border: none;
    background-color: white;
    margin: 5vh 30vw 0 30vw;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
::placeholder{
    text-align: center;
    font-size: 1.2em;
}
nav{
    margin-top: 5vh;
    margin-left: 28vw;
}
nav a{
    font-size: 1.1em;
    margin-right: 2vw;
    margin-left: 2vw;
    text-decoration: none;
    color: grey;
}
#todos{
    color: black;
    font-weight: bold;
}
.container-cards{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    grid-template-areas: "card1 card2 card3"
                         "card4 card5 card6"
                         "card7 card8 card9";
    align-items: center;
    justify-items: center;
    margin-left: 20vw;

}
.card1{
    grid-area: card1;
    margin-top: 4vh;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2014/05/03/01/04/city-336708_960_720.jpg");
    background-size: cover;
}
.card2{
    grid-area: card2;
    margin-top: 4vh;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2016/01/19/17/48/woman-1149911_960_720.jpg");
    background-size: cover;
}
.card3{
    grid-area: card3;
    margin-top: 4vh;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2014/04/26/04/25/woman-332278_960_720.jpg");
    background-size: cover;
}
.card4{
    grid-area: card4;
    margin-top: 4vh;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2016/08/22/10/20/city-1611657_960_720.jpg");
    background-size: cover;
}
.card5{
    grid-area: card5;
    margin-top: 4vh;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2017/10/25/16/54/african-lion-2888519_960_720.jpg");
    background-size: cover;
}
.card6{
    grid-area: card6;
    margin-top: 4vh;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2018/12/14/15/46/panda-3875289_960_720.jpg");
    background-size: cover;
}
.card7{
    grid-area: card7; 
    margin-top: 4vh;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2014/04/07/16/51/leaves-318743_960_720.jpg");
    background-size: cover;
}
.card8{
    grid-area: card8; 
    margin-top: 4vh;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2016/08/11/23/48/mountains-1587287_960_720.jpg");
    background-size: cover;
}
.card9{
    grid-area: card9;
    margin-top: 4vh;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2016/02/24/18/37/fog-1220491_960_720.jpg");
    background-size: cover;
}
.midias{
    margin: 5vh 40vw 5vh 40vw;
}
.twitter{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: black;
}
